/* textarea {
  background-color: red
} */

#create-post-main {
  padding-top: 7rem;
  display: flex;
  margin-inline: auto;
  margin-block: auto;
  /* width: 50rem; */
  flex-direction: column;
  align-items: center;
}

#button-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

#create-post-main input {
  width: 100%;
  padding: 0.5rem;
}

#new-post-submit-btn {
  border: none;
  background-color: var(--main-color);
  color: var(--text-light);
  border-radius: 7px;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  width: 15rem;
}
#create-new-post-form textarea {
  padding: 0.5rem;
  width: 100%;
  resize: vertical;
}

#create-new-post-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-inline: 1rem;
  padding-top: 2rem;
}



@media (min-width: 768px) {
  #create-post-main {
    width: 34rem;
  }
}
