.post-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif
}

.post-header .avatar img {
  border-radius: 700px;
  width: 2rem
}

.post-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.7rem;
}



/* .header-author {
  /* padding-block: 0rem */


.post .time {
  color: #808080;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
}

.follow-btn{
  margin-left: 2rem;
  font-weight: 700;
  color: rgb(117, 59, 149)
}


.follow-btn,
.edit-btn,
.trash-btn {
  border: none;
  background-color: transparent;
}

.trash-btn {
  margin-right: 2rem;
}
.edit-btn{
  margin-inline: auto 1rem;
}


/* .reply-div{
background-color: red;
/* border: 2px solid rgb(70, 86, 139) */
/* } */ 