:root {
  --h2-font: Arial, Helvetica, sans-serif
}

.post {
  /* display: inline-block  */
  background-color: rgb(245, 245, 245);
  margin-inline: 0rem;

}

.post-container {
  /* border: 2px solid red; */
  display: block;
  margin-bottom: 0.5rem;
  background-color: white;
  border-top: 1px solid rgb(197, 195, 195);
  border-bottom: 1px solid rgb(197, 195, 195);
  padding-top: 1rem;

}

.post-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-family:Arial, Helvetica, sans-serif
}

.post .avatar img {
  border-radius: 50px;
  width: 2.5rem
}

.post-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.7rem;
}


.header-author {
  padding-block: 0rem
}

.post .time {
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
}


.post h2 {
  font-family: var(--h2-font);
  font-size: 1.2rem;
    margin-inline: 1rem;
    margin-bottom: 0.5rem;
}

.post .body {
  color: black;
  font-family: var(--h2-font);
  padding-top: 0.1rem;
    margin-inline: 1rem;
}


.post .tagDiv {
  color: rgb(156, 156, 156);
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-inline: 1rem;
}

.post img {
  width: 100%;
  display: flex;
}


.comment-div{
  /* border: 2px solid red; */
  border-bottom: 1px solid rgb(184, 182, 182);
  margin-bottom: 0.5rem
}

.comment-body {
 font-family: Arial, Helvetica, sans-serif;
  margin-inline: 1rem;
  margin-bottom: 1rem
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  #post-parent {
    margin-inline: 30%;

  }

  .post-container {
    /* border: 2px solid red; */
    border: 1px solid rgb(197, 195, 195);
    padding-top: 1rem;
    border-radius: 15px;
  }

  #post-parent h2,
  /*   */
  #post-parent p,
  #post-parent .tagDiv {
    margin-inline: 0.8rem;

  }

  /* #post-parent .time {} */

}

/* #post-parent p{

 padding-block: 0.6rem;
}
#post-parent img{
  border-radius: 15px;
}

} */

/* ............ Desktops ................*/
/* @media (min-width: 1025px) {

} */

/*............ Large Desktops ................*/
/* @media (min-width: 2550px) {


} */