
#posts-parent{
  margin-top: 1rem
}

.post-container {
  /* border: 2px solid red; */
  display: block;
  margin-bottom: 0.5rem;
  background-color: white;
  border-top: 1px solid rgb(197, 195, 195);
  border-bottom: 1px solid rgb(197, 195, 195);
  padding-top: 1rem;

}

.post-container h2,
.post-container .body,
.post-container .tagDiv {
  margin-inline: 1rem;
}


.post-container h2 {
  font-family: var(--h2-font) Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
    /* margin-inline: 1rem; */
    margin-bottom: 0.5rem;
}

.post-container .body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.1rem;
    /* margin-inline: 1rem; */
}

.post-container .tagDiv {
  color: rgb(156, 156, 156);
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* margin-inline: 1rem; */
}

.post-container img {
  width: 100%;
  display: flex;
}


.comment-div{
  /* border: 2px solid red; */
  border-bottom: 1px solid gray;
  margin-bottom: 0.5rem
}

.comment-body {
 font-family: Arial, Helvetica, sans-serif;
  margin-inline: 1rem;
  margin-bottom: 1rem
}

.interaction-container {
  display:flex;
justify-content: right;
margin-inline: 1.5rem;
margin-block: 0.5rem 1rem;
font-family: Arial, Helvetica, sans-serif;
color:gray;
font-size: 0.9rem;
}
/* 
.comment-ammount{
  
} */

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  
  #posts-parent {
   padding-inline: 20%;
   margin-top: 1rem
  }

  .post-container {
      /* margin-inline: 30%; */
    /* border: 2px solid red; */
    border: 1px solid rgb(197, 195, 195);
    padding-top: 1rem;
    border-radius: 15px;
  }

  /* #post-parent h2,

  #post-parent p,
  #post-parent .tagDiv {
    margin-inline: 0.8rem;

  } */

  /* #post-parent .time {} */

}

@media (min-width: 1025px) {
  #posts-parent {
   padding-inline: 25%;
   margin-top: 1rem
  }


}
/* #post-parent p{

 padding-block: 0.6rem;
}
#post-parent img{
  border-radius: 15px;
}

} */

/* ............ Desktops ................*/
/* @media (min-width: 1025px) {

} */

/*............ Large Desktops ................*/
/* @media (min-width: 2550px) {


} */