.edit-dialog {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid rgb(204, 199, 199);
  border-radius: 8px;
  margin-inline: 1rem;
  margin-block: 1rem;
  width: 100%;
}

.update-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.update-form input {
  padding: 0.5rem;
  margin-bottom: 0rem
}

.post-body{
  /* height: 400px; */
  padding: 0.5rem;
  resize: vertical;
}



.update-form label{
  margin-top: 1rem;
}
.submit-button {
  border: none;
  background-color: var(--main-color);
  color: var(--text-light);
  border-radius: 7px;
  padding: 0.5rem
}

.cancel-btn {
  border: none;
  background-color: transparent;
  color: gray;
  border-radius: 7px;
  padding: 0.5rem
}

@media (min-width: 768px) {
  .edit-dialog {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid rgb(204, 199, 199);
  border-radius: 8px;
  margin-inline: auto;
  margin-block: auto;
  width: 30rem;
}
}