body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a{

  text-decoration: none;
  color: black;
}

input:focus {
  border-style: solid;
  border-color: rgb(110, 110, 110);
  outline: none;
}