.nav {
  /* background-color: red; */
  border: 2px solid gray;
  /* display:flex; */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.hamburger {
  display: block;
}

#following-container-mobile {
  display: flex;
  flex-direction: column;

}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  #following-container-mobile {
    display: none
  }

  .nav-links {
    display: flex;
    flex-direction: row;
  }


}