.modal {
  padding: 1em 2rem;
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  color: var(--text-color-dark);
}

.modal::backdrop {
  background-color: hsla(240, 20%, 36%, 0.6);
}

.modal h3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--main-font);
}

.modal p {
  padding-block: 2rem 3rem;
  font-size: 1rem;
  font-family: var(--main-font);
}

.buttons-div {
  /* padding: 3rem */
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.action-btn {
  background-color: var(--main-color);
  color: var(--text-light);
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.btn-small {
  background-color: transparent;
  font-size: 1.3rem;
  /* color: var(--text-color-dark); */
  padding: 0.5rem 1rem;
  border: 2px solid gray;
  border-radius: 8px;
}

.btn:focus-visible,
.btn-small:focus-visible {
  outline: 3px solid var(--text-dark);
  outline-offset: 2px;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .modal {
    padding: 3em 5rem;
  }

  .buttons-div {
    gap: 2rem;
  }
}
